[language-server.pyrefly]
command = "pyrefly"
args = ["lsp"]

[language-server.jedi]
command = "jedi-language-server"

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "nix"
auto-format = true
formatter = { command = "alejandra" }

[language-server.nixd.config.nixd.nixpkgs]
expr = "import <nixpkgs> {}"

[[language]]
name = "python"
auto-format = false
formatter = { command = "ruff", args = ["format", "--quiet", "-"] }
language-servers = ["pyrefly", "ruff", "jedi"]

[language.debugger]
name = "debugpy"
transport = "stdio"
command = "python3"
args = ["-m", "debugpy.adapter"]

[[language.debugger.templates]]
name = "source"
request = "launch"
completion = [{ name = "entrypoint", completion = "filename", default = "." }]
args = { mode = "debug", program = "{0}" }
