# Watch the local repo and the flake lock
watch_file .git/HEAD
watch_file flake.lock

# Reduce verbose logging
DIRENV_LOG_FORMAT=""

if [ -d .git ]; then
  echo "Direnv: git fetch…"
  git fetch --all --prune
  git status

fi

if [ -n "$IN_NIX_SHELL" ]; then
  echo "direnv: already inside Nix shell, skipping flake activation."
  exit
fi

use flake --accept-flake-config . > /dev/null

