apiVersion: v1
kind: ConfigMap
metadata:
  name: attic-config
  namespace: attic
data:
  ATTIC_LISTEN: "[::]:8080"
  ATTIC_ALLOWED_HOSTS: "0.0.0.0/0"
  ATTIC_STORAGE_TYPE: "local"
  ATTIC_STORAGE_PATH: "/var/lib/attic"
