name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure SSH for private flake inputs
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.NIX_SECRETS_DEPLOY_KEY }}

    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=flake:nixpkgs

    - name: Setup deadnix cache
      uses: cachix/cachix-action@v15
      with:
        name: deadnix

    - name: Check for dead code with deadnix
      uses: astro/deadnix-action@main
      with:
        flags: '--fail --exclude _sources/'
        create_pr: 'false'

    - name: Check for antipatterns with statix
      run: nix run nixpkgs#statix -- check -c .config/statix.toml .

    - name: Check spelling with typos
      run: nix run nixpkgs#typos -- -c .config/typos.toml .

    - name: Check formatting with treefmt
      run: nix run nixpkgs#treefmt -- --config-file .config/treefmt.toml --fail-on-change .

    - name: Check flake
      run: nix flake check