name: CI
"on":
  push:
    branches: [master, main]
    paths:
      - "flake.*"
      - "modules/**"
      - ".github/workflows/**"
  pull_request:
    branches: [master, main]
    paths:
      - "flake.*"
      - "modules/**"
      - ".github/workflows/**"
  workflow_dispatch:
jobs:
  fast-checks:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=flake:nixpkgs
      - name: Check for dead code with deadnix
        run: nix run nixpkgs#deadnix -- --fail --exclude _sources/ .
      - name: Check for antipatterns with statix
        run: nix run nixpkgs#statix -- check -c .config/statix.toml .
      - name: Check spelling with typos
        run: nix run nixpkgs#typos -- -c .config/typos.toml .
      - name: Check formatting with treefmt
        run: |
          nix-shell -p treefmt alejandra biome mdformat taplo --run \
            "treefmt --config-file .config/treefmt.toml --fail-on-change ."
      - name: Check Flake
        run: nix flake check
