name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure SSH for private flake inputs
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.NIX_SECRETS_DEPLOY_KEY }}

    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Enter Project DevShell
      run: nix develop 

    - name: Check flake
      run: nix flake check

    - name: Check for dead code with deadnix
      run: deadnix --fail .

    - name: Check for antipatterns with statix
      run: statix check -c .config/statix.toml .

    - name: Check spelling with typos
      run: typos -c .config/typos.toml .

    - name: Check formatting with treefmt
      run: treefmt --config-file .config/treefmt.toml --fail-on-change .
